* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f7f8f9;
  color: #0f1419;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}
/*PRELOADER*/
.lds-roller {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #1da1f2;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*PRELOADER*/
main .tweet-desk {
  background-color: white;
  border: 1px #dde7ef solid;
  border-radius: 8px;
  margin-left: 16px;
  position: sticky;
  top: 16px;
  z-index: 10;
  width: fit-content;
}
main .tweet-desk h2 {
  font-size: 22px;
  font-weight: 500;
}
main .tweet-desk .tweet_box {
  border: 1px #eff3f4 solid;
  background-color: white;
  margin: 32px 0 34px;
  padding: 15px;
}
main .tweet-desk .tweet_box.dim {
  border: 1px #15202b solid;
  background-color: #15202b;
}
main .tweet-desk .tweet_box.dark {
  border: 1px #000000 solid;
  background-color: #000000;
}
@media (max-width: 940px) {
  main .tweet-desk .tweet_box {
    width: 400px;
  }
}
@media (max-width: 890px) {
  main .tweet-desk .tweet_box {
    max-width: 440px;
    width: 100%;
    margin: 32px auto;
  }
}
main .tweet-desk .tweet {
  border: 1px transparent solid;
  background-color: white;
  padding: 0 16px;
  font-size: 15px;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main .tweet-desk .tweet .head {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}
main .tweet-desk .tweet .head .title {
  display: flex;
  align-items: center;
}
main .tweet-desk .tweet .head .title img {
  display: inline-block;
  border-radius: 50%;
  margin-right: 12px;
}
main .tweet-desk .tweet .head .title .text .top {
  font-weight: 700;
  display: flex;
  align-items: center;
}
main .tweet-desk .tweet .head .title .text .top .tweet_name {
  margin-right: 2px;
}
main .tweet-desk .tweet .head .title .text .top .verified {
  font-weight: 400;
  color: #1da1f2;
}
main .tweet-desk .tweet .head .title .text .top .verified.hide {
  display: none;
}
main .tweet-desk .tweet .head .title .text .bottom,
main .tweet-desk .tweet .head .title .text .email,
main .tweet-desk .tweet .head .dots {
  color: #536471;
  cursor: pointer;
}
main .tweet-desk .tweet .content .message {
  padding-top: 16px;
  font-size: 23px;
}
main .tweet-desk .tweet .content .message .highlight {
  color: #1b95e0;
}
main .tweet-desk .tweet .content .tweet_info {
  color: #536471;
  padding: 16px 0;
  display: flex;
}
main .tweet-desk .tweet .stats {
  border-top: 1px #eff3f4 solid;
  color: #536471;
  padding: 16px 4px;
  display: flex;
  flex-wrap: wrap;
}
main .tweet-desk .tweet .stats .stat {
  margin-right: 24px;
}
main .tweet-desk .tweet .stats .stat .count {
  font-weight: 700;
  color: #0f1419;
}
main .tweet-desk .tweet .stats .stat.hide {
  display: none;
}
@media (max-width: 520px) {
  main .tweet-desk .tweet .stats .stat {
    margin-right: 12px;
  }
}
main .tweet-desk .tweet .tail {
  border-top: 1px #eff3f4 solid;
  padding: 12px 0;
  display: flex;
  justify-content: space-around;
}
main .tweet-desk .tweet .tail svg {
  color: #536471;
}
main .tweet-desk .tweet.dim {
  background-color: #15202b;
  color: white;
}
main .tweet-desk .tweet.dim .head .title .text .top .verified {
  color: white;
}
main .tweet-desk .tweet.dim .head .title .text .bottom,
main .tweet-desk .tweet.dim .head .title .text .dots,
main .tweet-desk .tweet.dim .content .tweet_info {
  color: #798a96;
}
main .tweet-desk .tweet.dim .content .tweet_info .tweet_client {
  color: #1b95e0;
}
main .tweet-desk .tweet.dim .stats {
  border-top: 1px #38444d solid;
  color: #798a96;
}
main .tweet-desk .tweet.dim .stats .stat .count {
  color: white;
}
main .tweet-desk .tweet.dim .tail {
  border-top: 1px #38444d solid;
}
main .tweet-desk .tweet.dim .tail svg {
  color: #798a96;
}
main .tweet-desk .tweet.dark {
  background-color: #000000;
  color: #d9d9d9;
}
main .tweet-desk .tweet.dark .head .title .text .top .verified {
  color: #d9d9d9;
}
main .tweet-desk .tweet.dark .head .title .text .bottom,
main .tweet-desk .tweet.dark .head .title .text .dots,
main .tweet-desk .tweet.dark .content .tweet_info {
  color: #6e767d;
}
main .tweet-desk .tweet.dark .content .tweet_info .tweet_client {
  color: #1b95e0;
}
main .tweet-desk .tweet.dark .stats {
  border-top: 1px #2f3336 solid;
  color: #6e767d;
}
main .tweet-desk .tweet.dark .stats .stat .count {
  color: #d9d9d9;
}
main .tweet-desk .tweet.dark .tail {
  border-top: 1px #2f3336 solid;
}
main .tweet-desk .tweet.dark .tail svg {
  color: #6e767d;
}
@media (max-width: 395px) {
  main .tweet-desk .tweet {
    font-size: 14px;
  }
  main .tweet-desk .tweet .content .message {
    font-size: 21px;
  }
  main .tweet-desk .tweet .stats {
    padding: 16px 0;
  }
  main .tweet-desk .tweet .stats .stat {
    margin-right: 8px;
  }
}
main .tweet-desk .btn,
main .tweet-desk .delete__btn {
  display: block;
  border: none;
  border-radius: 99px;
  background-color: #1da1f2;
  color: white;
  font: inherit;
  margin: auto;
  padding: 11px 33px;
  cursor: pointer;
}
@media (hover: hover) {
  main .tweet-desk .btn {
    transition: background 200ms ease-in;
  }
  main .tweet-desk .btn:hover {
    background-color: #1a90d9;
  }
}
@media (hover: none) {
  main .tweet-desk .btn:active {
    background-color: #1a90d9;
  }
}
@media (max-width: 890px) {
  main .tweet-desk {
    width: 75%;
    margin: 0 auto 16px;
    position: static;
  }
}
@media (max-width: 700px) {
  main .tweet-desk {
    width: 85%;
    margin: 0 auto 16px;
  }
}
@media (max-width: 640px) {
  main .tweet-desk {
    width: 95%;
    margin: 0 auto 16px;
  }
}
@media (max-width: 520px) {
  main .tweet-desk {
    background-color: #f7f8f9;
    width: 100%;
    margin: 0 auto 16px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 24px 0;
  }
}
/*MODAL*/
#addTweet {
  position: fixed;
  top: 0;
  left: 40%;
}
.modal {
  display: none;
}
.modal.active {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.modal.active .message {
  display: block;
  border: none;
  border-radius: 99px;
  background-color: #1da1f2;
  color: white;
  font: inherit;
  margin: auto;
  padding: 11px 33px;
  width: 80%;
}
/*MODAL*/
