* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.level__wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.easyBtn,
.mediumBtn,
.hardBtn {
  padding: 15px;
  border: 1px solid deeppink;
  background-color: hotpink;
  border-radius: 10px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.counters {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.player,
.computer {
  padding: 15px;
  width: 70px;
  border: 1px solid steelblue;
  background-color: steelblue;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.descriptions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

table {
  margin-inline: auto;
  margin: 100px;
}
table,
table tr {
  border-left: 2px solid black;
  border-top: 2px solid black;
}
table td {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  width: 150px;
  height: 120px;
}
