* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding: 50px;
}
#find {
  padding: 20px;
  border: 1px solid deeppink;
  border-radius: 10px;
  background-color: hotpink;
  color: black;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
#find:hover {
  background-color: deeppink;
}
.list {
  margin-top: 50px;
}
.list .list__item {
  margin-left: 4px;
  font-size: 24px;
  font-weight: bold;
}
